body {
  font-family: "Open Sans", sans-serif;
  }

  h1 {
  color: #212121;
  font-style: italic;
  font-size: 4em !important;
}
h3 {
  font-size: 1.5em !important;
}
ul {
  list-style-type: none;
}
figure {
  margin: auto; }

  .navbar {
    opacity: 0.3;
  }
  .navbar-brand {
    font-size: 20px !important;
    margin-left: 2%;
  }
  .navbar-nav > li{
  padding-left:10px;
  padding-right:10px;
  padding-bottom: 10px;
}
  .nav-link {
    font-size: 20px;
  }
  .zoom {
      padding: 20px;
      transition: transform .2s; /* Animation */
      margin: 0 auto;
  }

  .zoom:hover {
      transform: scale(1.2);
  }

.content {
  position: relative;
  background: #90A4AE;
  padding-top: 30px;
  margin-bottom: 135px;
  overflow: hidden; }
  .content article {
    padding: 0px 0;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    }
    .content article p {
      text-align: left;
      font-size: 1.2em;
      }
      .content a {
        color: #003566;
      }
    }
  #about {
    text-align: center;
    justify-content: center;
  } #about p {
    text-align: center;
  }
.space {
  text-align: center;
  font-weight: bolder;
}

img {
  max-width: 100%; }

.banner-image {
  position: relative;
  height: 400px;
  background-color: #90A4AE;
  background-image: url(../images/adventure-asphalt-autumn.jpg);
  background-size: 100%;
  background-position: top center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow: hidden; }

.logo {
  height: 250px;
  width: 100%;
  background-image: url(../images/ShawnTFox.png);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  margin-top: -150px; }



.shawn-picture img {
  height: 180px;
  border-radius: 50%;
}

.space {
  margin-top: 65px;
}
.resume dt {
  font-size: 2.6em;
  font-weight: bold;
  text-decoration: underline;
  padding-bottom: 5px;
}
.resume h2 {
  font-weight: bold;
  font-size: 1em;
}
.resume li {
  font-size: 16px;
  padding: 3px;
}
#fcc .col-4 {
  margin-left: 40px;
  margin-right: 40px;
}   #fcc .col-4 li a {
  margin-left: 50px;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 280px)
and (max-device-width : 740px) {
/* Styles */
.navbar-collapse.collapse {display: inline-block; !important; }
.nav-link {font-size: 10px !important;}
.navbar-brand {font-size: 12px !important;}
.navbar-nav > li {padding-left: 5px !important; padding-right: 5px !important;}
.banner-image {height: 200px;}
.logo { background-image:  url(../images/ShawnTFoxMobile.png);
margin-top: -150px;}
.content {padding: 5px}
}

footer {
  background: black;
  color: #90A4AE;;
  padding: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: -1; }
  footer .footer-stuff {
    max-width: 640px;
    margin: 0 auto; }
  footer a {
    color: white; }
  footer input {
    color: #666; }

/* For carousel */
.carousel {
    height: 25rem;
    margin-bottom: 0px;
    width: 100%;
    align-content: center;
}

.carousel-inner img {
  max-height: 17rem;
  margin: auto;
}
.carousel-inner a {
  margin: auto;
  text-align: center;
}


/* Tabs*/
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#tabs{
	background:#90A4AE;
    color: #eee;
}
#tabs h6.section-title{
    color: #eee;
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #f3f3f3;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 4px solid !important;
    font-size: 20px;
    font-weight: bold;
}
#tabs .nav-tabs .nav-link {
    border: 1px solid grey;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #eee;
    font-size: 20px;
}
